/**
 * Description: style.css contains the styling used in index.html to style and alter the webpage's contents.
 *
 * Author: Professor Shane Panter, Westley Foster
 */
h1{
  border-color: #d3e644;
  border-style: dashed;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: rgb(14, 179, 182); /* Added to make it easier to see joke text against the background image */
}

th {
  background-color: transparent;
  font-weight: bold;
  color: black;
}

tbody tr:nth-child(even) {
  background-color: transparent;
  color: rgb(14, 179, 182); /* Added to make it easier to see joke text against the background image */
}

tbody tr:hover {
  background-color: #e9e9e9;
}

/* Added CSS rules */
h2{
  font-size: 22px;
  color: rgb(183, 27, 27);
}

h3{
  font-size: 14px;
  color: rgb(183, 27, 27)
}

ul{
  font-size: 16px;
  color: rgb(32, 97, 171);
}

button{
  background-color: rgb(210, 207, 207);
}

label{
  color: rgb(15, 161, 47);
}

hr{
  /* hr styling found on w3schools.com at https://www.w3schools.com/tags/tag_hr.asp */
  margin-left: 0;
  margin-right: auto;
  border: none;
  width: 86%;
  height: 2px;
  background-color: black;
}